body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 17px;
  background: linear-gradient(to right, #080d47, #3b92a1);
}

h1 {
  font-family: GlacialIndifferenceBold;
  font-size: 64px;
  line-height: 1.2em;
}

h2 {
  font-family: GlacialIndifferenceBold;
  font-size: 36px;
  color: #080d47;
}

h3 {
  font-family: GlacialIndifference;
  font-size: 24px;
  color: #3b92a1;
}

a {
  color: #3b92a1;
}

a:hover {
  color: #78c1ce;
}

.bg-gradient {
  background: linear-gradient(to right, #080d47, #3b92a1);
}

.sm {
  font-size: 14px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
    font-family: GlacialIndifference;
    src: url("/font/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
    font-family: GlacialIndifferenceBold;
    src: url("/font/GlacialIndifference-Bold.otf") format("opentype");
}
